<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Solar Project - Help page</title>
    <base href="/">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script
        src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">

    <link href="help.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm" style="height: 65px;">
            <div class="container" style="height: 45;">
                <a href="#" class="navbar-brand">
                    <!-- Logo Image -->
                    <img src="Logodark2.png" width="45" height="45" alt="">
                    <!-- Logo Text -->
                </a>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="#" class="nav-link">Home <span
                                    class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="/help" class="nav-link">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Help</h1>
            <p class="lead">
                Thank you for using Solar Project. To begin your
                journey, on the home page you need to click on one of
                the buttons, whethere you are an ivestor or a solar engineer. Currently, the part of the application for
                investors is under construction, so the only active part is for investors.
            </p>
            <h2 class="mt-5">Investor parameters</h2>
            <p class="lead">
                As an investor, you need to provide us only two parameters, location and average monthly consuption.
                Of course, in solar engineering, there are a few more parameters, but we take only the crucial one, to
                make things easier.
                To choose the location, you need to fist click on the search button which is placed on the map.
            </p>
            <br>
            <img src="Picture1sp.png" class="pic-center">
            <br>
            <p class="lead">
                Once you click on the search button, you can start typing your location. While you are typing, a menu
                will appear with suggestions. You need to type until you find your location on the menu. When you find
                the right location, just click on it and you are done. If you typed a
                full name of the location
                and still cannot find it, you should then press space, and it will probably appear in the menu. Map is
                very
                detailed and has a huge number of
                toponyms, feel free
                to try.
            </p>
            <br>
            <img src="Picture2sp.png" class="pic-center">
            <br>
            <p class="lead">
                When you click on the desired loaction on the menu, a marker on the map will appear. You can
                at this point move forward.
            </p>
            <br>
            <img src="Picture3sp.png" class="pic-center">
            <br>
            <p class="lead">
                One more thing you need to provide us is your average monthly energy consuption. The best option would
                be to sum up your annual consumption and divide it by 12. After that, you need
                just to click on the "Calculate my system" button and you are done.
            </p>
            <br>
            <img src="Picture4sp.png" class="pic-center">
            <br>
            <h2 class="mt-5">Results</h2>
            <p class="lead">
                Based on the input information, we give here the estimate how powerful solar system you need and also
                the price estimation.
                First we show a table with three most common types of solar panels, like on the picture below.
            </p>
            <br>
            <img src="Picture5sp.png" class="pic-center">
            <br>
            <p class="lead">
                Besides their characteristics, we also show how many of them you need to achieve the goal of producing
                the amount of
                electricity that you consume throughout the year. So, from picture, if you choose 350 Wp panels for your
                system, you need 29 panels. Then you do not require
                any of 450 Wp nor 550 Wp nor any other type.
            </p>
            <p class="lead">
                After that, we suggest you which inverter to choose and also the price estimation of other costs, like
                installation costs and the price of getting the project documentation.
                In the end we show you the price estimation of complete project.
            </p>
        </div>
    </main>
    <footer>
        <nav class="navbar navbar-dark bg-dark" style="height: 25px;">
            <a class="navbar-center" style="color: white;">Solar Project &reg; 2023</a>
        </nav>
    </footer>

</body>

</html>