<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Help page</title>
    <base href="/">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script
        src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">

    <link href="investor_calculation.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Solar project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/help">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        <div class="container">
            <br>
            <br>
            <h1 class="mt-5">Help</h1>
            <p class="lead">
                Thank you for using Solar project, the best guide for solar projects for everyone. To begin your
                journey, on the home page you need to click on one of
                the buttons, whethere you are an ivestor or a solar engineer. Currently, the part of the application for
                investors is under construction, so the only active part is for investors.
            </p>
            <h2 class="mt-5">Investor parameters</h2>
            <p class="lead">
                As an investor, you need to provide us only two parameters, location and average monthly consuption.
                Of course, in solar projecting, there are a few more parameters, but we take most common values for
                them, to make you easier.
                To choose the location, you need to fist click on the search button which is placed on the map.
            </p>
            <img src="Picture1.png" style="width: 100%;">
            <p class="lead">
                Once you click on the search button, you can start typing your location. While you are typing, a menu
                will appear with suggestions. You need to type until you find your location on the menu. When you find
                it, just click on it and you are done. Map is very detailed and has a huge number of toponyms, feel free
                to try.
            </p>
            <img src="Picture2.png" style="width: 100%;">
            <p class="lead">
                When you click on the desired loaction on the menu, a marker on map will appear which shows it. You can
                at this point move forward.
            </p>
            <img src="Picture3.png" style="width: 100%;">
        </div>
    </main>

</body>

</html>