<!doctype html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Signin Template · Bootstrap v5.2</title>
    <base href="/">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet" type="text/css" />

</head>

<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Welcome to Solar Project</h1>
        <div>
            <label>This is your best guide for solar projects. Choose button as appropriate.<label>
        </div>
        <div>
            <form action="/investor" method="get">
                <button class="w-100 btn btn-lg btn-primary">I am an investor</button>
            </form>
        </div>
        <br>
        <div>
            <form action="/engineer" method="get">
                <button class="w-100 btn btn-lg btn-primary">I am an engineer</button>
            </form>
        </div>
        <nav class="navbar fixed-bottom navbar-dark bg-dark" style="height: 25px;">
            <a class="navbar-center" style="color: white;">Solar Project &reg; 2022</a>
        </nav>
    </main>



</body>

</html>