<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoCument</title>
</head>

<body>
    <h1>Solar project</h1>
    <h2>Login or signup</h2>
    <form action="projects.ejs">
        <input type="submit" value="Login" />
    </form>
    <button>Sign Up</button>
</body>

</html>