<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Solar Project - New investor project</title>
    <base href="/">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script
        src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">

    <link href="investor_calculation.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm" style="height: 65px;">
            <div class="container" style="height: 45;">
                <a href="#" class="navbar-brand">
                    <!-- Logo Image -->
                    <img src="Logodark2.png" width="45" height="45" alt="">
                    <!-- Logo Text -->
                </a>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="#" class="nav-link">Home <span
                                    class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="/help" class="nav-link">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Investment in solar panels</h1>
            <p class="lead">
                Your investement in a solar system begins with determining the proper size of it.
                There are several factors affecting the magintude of the system, but here you only need to provide two
                most important ones.
                We are starting with the location of your future PV system. </p>
            <p class="lead">
                Click on the search icon &#x1F50D; in
                the
                map below
                and start typing the name of the location. On the menu which will appear afterwards, choose
                the exact location. You can even enter a street name, no need for a city or a region.
            </p>
            <div id="map"></div>
            <div class='pointer'>
            </div>

            <script>
                var map = L.map('map', {
                    center: [43.8563, 18.4131],
                    zoom: 8
                });
                L.control.scale().addTo(map);
                // Create a Tile Layer and add it to the map
                var tiles = new L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png').addTo(map);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                var searchControl = new L.esri.Controls.Geosearch().addTo(map);
                var results = new L.LayerGroup().addTo(map);
                searchControl.on('results', function (data) {
                    results.clearLayers();
                    for (var i = data.results.length - 1; i >= 0; i--) {
                        results.addLayer(L.marker(data.results[i].latlng));
                    }
                    var inputlat = document.getElementById('hiddenInputlat');
                    inputlat.value = data.latlng.lat;
                    var inputlon = document.getElementById('hiddenInputlon');
                    inputlon.value = data.latlng.lng;
                    // console.log(input.value.latt);
                });
                /*const axios = require("axios");
                axios({
                    method: 'post',
                    url: '/resultsInv',
                    data: {
                        slat: data.latlng.lat,
                        slon: data.latlng.lng
                    }
                });*/
                setTimeout(function () { $('.pointer').fadeOut('slow'); }, 3400);
            </script>

            <form action="/resultsInv" method="post">
                <div>
                    <input type="hidden" name="slat" id="hiddenInputlat" />
                    <input type="hidden" name="slon" id="hiddenInputlon" />
                    <br>
                    <p class="lead">
                        Now we move to the second parameter.
                        The goal is to have the annual production of panels equal to your consumption.
                        To make things
                        easier, you can give us how many kWhs you spend monthly on average.
                        If you are a producer, who would like to sell electricity, just provide us your desired monthly
                        production in kWhs.

                    </p>
                    <div class="form-signin w-100 m-auto">
                        <form action="/resultsInv" method="get">
                            <label for="Average month" style="align-items: center;">Average monthly consumption (kWh):
                            </label>
                            <input type="number" id="Average month" name="Average_monthly_consumption"
                                class="form-control" min="0" required>
                            <br>
                            <button class="w-100 btn btn-lg btn-primary" style="width: 5px;"
                                onclick="checkfunction()">Calculate my
                                system</button>
                        </form>
                        <script>
                            function checkfunction() {
                                if (document.getElementById("hiddenInputlat").value === '') {
                                    window.alert("Please choose a location!");
                                    return false;
                                }
                                return true;
                            }
                        </script>
                    </div>

            </form>

        </div>
    </main>
    <footer>
        <nav class="navbar navbar-dark bg-dark" style="height: 25px;">
            <a class="navbar-center" style="color: white;">Solar Project &reg; 2023</a>
        </nav>
    </footer>
</body>

</html>