<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New project</title>

</head>

<body>
    <h1>Panel number calculation</h1>

    <div id="map"></div>
    <script>
        function initMap() {
            var options = {
                zoom: 8,

            }
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYEbIEtEOXlaaXa0MpEeYa8lPPqz0UWT0&callback=initMap">
        </script>



    <form action="/resultsInv" method="post">
        <div>
            <label for="Latitude">Latitude</label>
            <select list="Latitude" id="Latitude" name="Latitude">
                <datalist id="Latitude">
                    <% for (let i=0; i < 91; i++) { %>
                        <option value=<%=i %>>
                            <%= i %>
                        </option>
                        <% } %>
                </datalist>
            </select>
            <label for="Longitude">Longitude</label>
            <select list="Longitude" id="Longitude" name="Longitude">
                <datalist id="Longitude">
                    <% for (let i=0; i < 181; i++) { %>
                        <option value=<%=i %>>
                            <%= i %>
                        </option>
                        <% } %>
                </datalist>
            </select>
            <div>
                <label for="Hemispheres">Select hemispheres</label>
                <br>
                <label for="North">North</label>
                <input type="radio" name="N_or_S" value="North" checked="checked">
                <label for="South">South</label>
                <input type="radio" name="N_or_S" value="South">
                <br>
                <label for="West">West</label>
                <input type="radio" name="W_or_E" value="West" checked="checked">
                <label for="East">East</label>
                <input type="radio" name="W_or_E" value="East">
            </div>
            <div>
                <label for="Average month">Average monthly consumption (kWh)</label>
                <input type="number" id="Average month" name="Average_monthly_consumption">
            </div>
        </div>
        <div>
            <input type="submit" value="Calculate required panels">
        </div>
    </form>

</body>

</html>