<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New project</title>
</head>

<body>
    <h1>Panel number calculation</h1>
    <form action="/resultsInv" method="get">
        <div>
            <label for="Latitude">Latitude</label>
            <select list="Latitude" id="Latitude">
                <datalist id="Latitude">
                    <% for (let i=0; i < 91; i++) { %>
                        <option value="1">
                            <%= i %>
                        </option>
                        <% } %>
                </datalist>
            </select>
            <label for="Longitude">Longitude</label>
            <input type="list" id="Longitude">
            <label for="Average month">Average monthly consumption (kWh)</label>
            <input type="number" id="Average month">
        </div>
        <div>
            <button>Calculate required panels</button>
        </div>
    </form>


</body>

</html>