<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New project</title>
</head>

<body>
    <h1>Creating a new project</h1>
    <form action="/saved_project" method="POST">
        <div>
            <label for="project_name">Project name:</label>
            <input type="text" id="name" name="project[Project_name]">
        </div>
        <div>
            <label for="Investor">Investor:</label>
            <input type="text" id="investor" name="project[Investor]">
        </div>
        <div>
            <label for="Location">Location:</label>
            <input type="text" id="location" name="project[Location]">
        </div>
    </form>

</body>

</html>