<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New project</title>
</head>

<body>
    <h1>Panel number calculation</h1>
    <label for="country">Country</label>
    <input type="text" id="country">


    <label for="Average year">Average yearly consumption (kWh)</label>
    <input type="number" id="Average year">
    <label for="Panel size">Size of one panel</label>
    <input type="list" id="Panel size">
    <datalist id="Panel size">
        <option value="350 W"></option>
        <option value="400 W"></option>
        <option value="450 W"></option>
    </datalist>
    <input type="text">

</body>

</html>