<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="mailto:kemalkaracic@gmail.com" method="get">

        <label for="email">Please provide us your email</label>
        <br>
        <input type="text" name="email">
        <br>
        <label for="question">Write your question:</label>
        <br>
        <input type="textarea" name="question" length="100" width="500">
        <button>Submit</button>
    </form>
</body>

</html>