<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h1>Rezultatiii :)</h1>


    <%var number_of_panels=(iData.Average_monthly_consumption*12)/(0.2*iData.Irradiation)%>

        <% number_of_panels=number_of_panels/1.7 %>

            <% number_of_panels=Math.ceil(number_of_panels)%>

                <%=console.log(iData) %>

                    <label for=" Out">Required number of panels: </label>

                    <output id="Out">
                        <%=number_of_panels%>
                    </output>

</body>

</html>