<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% const Latitude=require("Investor_calculation.ejs") %>

</head>

<body>
    <h1>Rezultatiii :)</h1>

    <label for="Out">Required number of panels: </label>
    <output></output>

</body>
<script>
    const leto = document.getElementById("Latitude");
    console.log("najbroj:")
    console.log(Latitude);
</script>

</html>